@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
    background-color: #d84747;
    color: #5b1212;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
}

h1 {
    text-align: center;
    font-size: 7vh;
}

#buttonStart, #buttonReset {
    display:flex;
    height: auto;
    width: auto;
    text-align:start;
    margin-top: 3vh;
    
}

#timer {
    text-align: center;
    font-size: 10vh;
    border-style:solid;
    border-color: #811f1f;
}

#box {
    display: block;
}

#reset {
    display: none;
    margin: auto;
    block-size: 7vh;
}

#start, #settings {
    margin: auto;
    padding: auto;
    text-align: center;
    width: 7vh;
}

.overlay {
    width: auto;
    height: auto;
    display: none;
}

#popupContent {
    background-color: #811F1F;
    text-align: center;
    padding: 20px;
    width: fit-content;
    border-radius: 5rem;
    font-size: 5vh;
    color: #ee8d8d;
}

.show {
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 5vh;
    
}

.labelSettings {
    font-size: 4vh;
    color: #ee8d8d;
}

.inputSettings {
    width: 6vh;
    font-size: 3.5vh;
    border-radius: 5rem;
}

.inputSettings:hover {
    background-color: rgb(255, 172, 172);
    transition: 0.5s;
}

.buttonSettings {
    margin-top: 1;
    width: 11vh;
    height: 5vh;
    font-size: 4vh;
    border-radius: 5rem;
    background-color: #d84747;
    color: #ee8d8d;
    border-color: #ca4444;
}

.buttonSettings:hover {
    background-color: #b33636;
    color: #ea6d6d;
    border-color: #a43232;
    transition: 0.5s;
}

#status {
    display: flex;
    text-align: center;
    justify-content: center;
}

#working, #break {
    font-size: 4vh;
    margin: 3vh;
}